/****************************************************************************************/
/*
*this file was created under a name of fish farming project
*creation date: 2023 - 2
*this file created by Ahmed Abdulal (Ahmed Sobhy)
*by cooperateing with Dr-Yasser and haidy to provide information about shrimps and aquaculture, this project has been compleated 
*this file can only used under approval of the auther
*this file not allowed for sharing or trading
*/
/****************************************************************************************/

.div_form {
    background-color: #0a658f;
    border: 4px solid rgb(36, 37, 39);
    border-radius: 1em;
    color: rgb(233, 211, 211);
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    padding: 5px;
}

.div_form:hover {
    background-color: rgb(142, 148, 156);
}

.div_form label {
    font-weight: 500;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    height: 1.5em;
}

input {
    border: 2px solid black;
    height: 1.5em;
    font-weight: 200;
    font-size: 1.2em;
    border-radius: 0.75em;
    text-indent: 5px;
    font-family: "Lato", sans-serif;
}

.data_form {
    background-color: rgb(175, 174, 174);
    margin: 0;
    position: sticky;
    top: 2.5em;
    right: 0; 
}

/****************************************************************************************/
/*
*this file was created under a name of fish farming project
*creation date: 2023 - 2
*this file created by Ahmed Abdulal (Ahmed Sobhy)
*by cooperateing with Dr-Yasser and haidy to provide information about shrimps and aquaculture, this project has been compleated 
*this file can only used under approval of the auther
*this file not allowed for sharing or trading
*/
/****************************************************************************************/
